@{
    ViewData["Title"] = "Payment";
}

<h1>
    Payment
</h1>
<p>
    Please make a bank transfer to complete your order. After the payment has been credited, the product will be sent to your e-mail address.
</p>
<p>
    Bank number: PL61 1090 1014 0000 0712 1981 2874
</p>
<p>
    Title: @ViewBag.OrderId
</p>
<p>
    Amount: @ViewBag.Amount zł
</p>