@model IEnumerable<EcommSimpleShop.Data.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    @foreach (var product in Model)
    {
        @for (int i = 0; i < 5; i++)
        {
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <img src="https://picsum.photos/300/200" alt="Product image" class="full-width"/>
                    </div>
                    <div class="col-6">
                        <h2>
                            @product.Name
                        </h2>
                    </div>
                    <div class="col-6">
                        <h3>
                            @((product.Price / 100.0).ToString("N2")) zł
                        </h3>
                    </div>
                </div>
            </div>
        }
    }
</div>